.header__box {
    width: 100%;
    height: 100px;
}

.header__header-2 {
    height: 300px;
    background-image: url(../images/images_trogiup/MOT_help_03-2000x875.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__header-2 > h1 {
    font-size: 48px;
    color: var(--mau-trang);
    font-weight: 300;
}

/* ===================================== BODY */

.body {
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.body__options {
    flex: 1;
    display: flex;
    justify-content: center;
}

.options__list-options {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.list-options__item {
    font-size: 22px;
    font-weight: 300;
    padding: 20px 0;
}

.list-options__item a {
    text-decoration: none;
    color: var(--mau-chu-mo);
    transition: color 0.2s;
}

.list-options__item:hover a {
    color: var(--mau-chu-duoc-chon);
}

.checked {
    color: var(--mau-chu-duoc-chon) !important;
}

.body__contain-option {
    flex: 3;
    box-sizing: border-box;
    padding: 30px 120px;
    margin-bottom: 120px;
}

.contain-option__contain-question {
    display: flex;
    flex-direction: column;
}

.contain-question__quest {
    font-weight: 700;
    padding: 20px 0;
    user-select: none;
}

.contain-question__quest:hover {
    cursor: pointer;
}

.contain-question__quest .icon {
    font-size: 14px;
    margin-right: 0;
    color: var(--mau-den);
    transform: rotate(0);
    transition: trasform 0.5s;
}

.answer__table {
    width: 100%;
}

td {
    padding: 5px;
}

.contain-question__answer {
    margin-bottom: 50px;
    height: auto;
    overflow: hidden;
    transition: height 0.5s, margin-bottom 0.5s;
}

.hidden {
    height: 0;
    margin-bottom: 0;
}

.contain-question__line {
    width: 100%;
    border-top: 1px solid var(--mau-chu-footer);
}

.hover-effect {
    color: var(--mau-chu-footer);
}

.hover-effect:hover {
    color: var(--mau-den);
    cursor: pointer;
}