.header__box {
    width: 100%;
    height: 100px;
}

.header__header-2 {
    width: 100%;
    height: 300px;
    background-image: url(../images/MOT_cart_01-2000x875.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================================================== BODY */
.body {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    background-color: white;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;
}

.body__order {
    margin-top: 20px;
}

td {
    padding: 5px 20px;
}

.body__order-details {
    margin-top: 30px;
}